<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 13 demo</title>
</head>
<body>
    <h1>Fill Information:</h1>
    <form data-th-action="@{/contact}" data-th-object="${contact}" method = "post">
        <p>
            Name:
            <input type="text" data-th-field="*{name}"/>
            <span class = "error" data-th-if = "${#fields.hasErrors('name')}" data-th-errors = "*{name}" style="color: red
            ;"></span>
        </p>
        <br>
        <p>
            Email:
            <input type="text" data-th-field="*{email}"/>
            <span class = "error" data-th-if = "${#fields.hasErrors('email')}" data-th-errors = "*{email}" style="color: red
            ;"></span>
        </p>
        <br>    
        <p>
            Phone Number:
            <input type="text" data-th-field="*{phoneNumber}"/>
            <span class = "error" data-th-if = "${#fields.hasErrors('phoneNumber')}" data-th-errors = "*{phoneNumber}" style="color: red
            ;"></span>
        </p>
        <div data-th-if = "${#fields.hasErrors('global')}">
            <p data-th-each="err: ${#fields.errors('global')}" data-th-text="${err}" class = "error"></p>
        </div>
        <br>
        <P>
            <input type = "submit" value = "Save"/>
        </P>
    </form>
</body>
</html>